body
{
  font-family: 'Open Sans', sans-serif;
  font-size: 10pt;
  color: #484953;
  width: 100%;
  background-color: #F8F8F8;
  padding: 50px;
  text-align: justify;
}

.text-link:link, .text-link:visited {
    color: #64709B;
}

.text-link:hover {
    color: #8490BB;
    text-decoration: none;
}

.content_container {
    max-width: 750px;
    margin: auto;
}
