body
{
  font-family: 'Nunito', sans-serif;
  font-size: 12pt;
  color: #252525;
  width: 100%;
  background-color: #FEFEFE;
  padding: 50px;
  text-align: justify;
}

a {
    text-decoration: none;
    color: #4169E1;
}

a:hover {
    text-decoration: none;
    color: #0038A8;
}

a:visited {
    text-decoration: none;
    color: #7851A9;
}
