body
{
  font-family: 'Open Sans', sans-serif;
  font-size: 10pt;
  color: #484953;
  width: 100%;
  background-color: #F8F8F8;
  padding: 50px;
  text-align: justify;
}

hr {
    border-color: #484953;
    opacity: 0.25;
}

.text-link:link, .text-link:visited {
    color: #d9376e;
}

.text-link:hover {
    color: #f9578e;
    text-decoration: none;
}

.content_container {
    max-width: 750px;
    margin: auto;
}
